// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-table{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin:30px;
}
.td{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}